---
layout: default
---

{% capture nav %}
<nav>
  <a href="#home">HOME</a>
  <a href="#research">RESEARCH</a>
  <a href="#teaching">TEACHING</a>
</nav>
{% endcapture %}

<div class="wrapper" id="view" tabindex="0">
  <section style="background-image: url({{ '/assets/images/lattice.svg'| relative_url }})"
	   class="background">
  </section>
  
  <section id="home" class="celadon">
    {{ nav }}

    <div class="content" itemscope itemtype="http://microformats.org/profile/hcard">

      <div id="card">
	<div id="snail">
	  <h3 itemprop="fn">Luca De Feo</h3>
	  <p itemprop="title">Research Staff Member</p>
	  <p itemprop="org"><a target="_blank" href="https://www.zurich.ibm.com/">IBM Research Europe</a></p>
	  <p itemprop="adr" itemscope>
	    <span itemprop="street-address">Saümerstrasse 4</span><br>
	    <span itemprop="postal-code">CH-8803</span>
	    <span itemprop="locality">Rüschlikon</span><br>
	    <span itemprop="country-name">Switzerland</span>
	    </p>
	</div>
	
	<div id="links">
	  <p>
	    <a class="botkiller" itemprop="email"
	       data-share1="173,240,30,144,183,74,220,249,229,91,178,181,196"
	       data-share2="191,133,69,209,137,26,137,109,128,20,124,183,177"
	       href="mailto:"><svg class="icon">
		{%- include icon.html id="envelope" -%}
	      </svg><span>whatever@&lt;domain-name&gt;</span></a>
	    <a href="https://openpgpkey.defeo.lu/.well-known/openpgpkey/defeo.lu/hu/wbp7trgro48kdyd9oi1ykze9zj5hpqwb"><svg class="icon">
		{% include icon.html id="key" %}
	    </svg></a>
	  </p>
	  <p><a target="_blank" itemprop="url" href="https://twitter.com/@luca_defeo">
	      <svg class="icon">{% include icon.html id="twitter" %}</svg>Twitter</a></p>
	  <p><a target="_blank" itemprop="url" href="https://github.com/defeo">
	      <svg class="icon">{% include icon.html id="github" %}</svg>GitHub</a></p>
	</div>
      </div>
      
      <figure id="idpic">
	<img class="spotlight" itemprop="photo"
	     data-center="108px 92px" data-minrad="90" data-maxrad="353"
	     data-start="0.4" data-increments="0.01" data-root="#view"
	     data-margin="100% 0px -100px 0px"
	     src="{{ '/assets/luca-drink.jpg' | relative_url }}"
	     alt="Black and white Luca sipping a glowing golden drink.">
      </figure>
    </div>
  </section>

  <section id="research" class="white">
    {{ nav }}
    
    <div class="content">
      <div id="publist">
	<h3>Recent papers</h3>
	<ul>
	  {% assign recent = site.data.papers.papers | slice: 0, 5 %}
	  {% for p in recent %}
	  <li class="pub">{% include paper.html paper=p %}</li>
	  {% endfor %}
	</ul>
	
	<p><a href="{{ '/pubs' | relative_url }}">view more&hellip;</a></p>
      </div>

      <div id="rest">
	<div id="students">
	  <h3>Current research students</h3>

	  <ul>
	    {% assign cur = site.data.students.students | sort: "start" | reverse %}
	    {%- for s in cur %}
	    {%- unless s.end %}
	    <li class="student">{% include student.html student=s %}</li>
	    {%- endunless %}
	    {%- endfor %}
	  </ul>

	  <p><a href="{{ '/students' | relative_url }}">view past
	      students and theses&hellip;</a></p>
	</div>

	<div id="books">
	  <h3>Lecture notes and theses</h3>

	  <ul>
	    <li><a target="_blank"
		   href="https://defeo.lu/hdr/#manuscript">Exploring
		   Isogeny Graphs</a>,<br> Habilitation thesis, 220
		   pp, 2018.</li>
	    <li><a target="_blank"
		   href="https://arxiv.org/abs/1711.04062">Mathematics
		   of Isogeny Based Cryptography</a>,<br> Lecture
		   notes, 44 pp, 2017.</li>
	    <li><a target="_blank"
		   href="https://hal.inria.fr/tel-00547034">Fast
		   Algorithms for Towers of Finite Fields and
		   Isogenies</a>,<br> PhD thesis, 191 pp, 2010.</li>
	  </ul>
	</div>
	
	<div id="talks">
	  <h3>Selected talks, videos and more&hellip;</h3>
	  <p>&hellip;find them at
	    <a target="_blank"
	       href="https://defeo.lu/docet/">DeFeo.Lu/DOCET/</a></p>
	</div>
      </div>
    </div>
  </section>

  <section id="teaching" class="brick">
    {{ nav }}
    
    <div class="content">
      <p>BLop blip <a href="bla">BLA bla bla</a> <a href="https://defeo.lu">BLA bla bla</a></p>
    </div>
  </section>
</div>

<script>
  // Hack to delegate focus to wrapper (tested in Firefox and Chrome)
  const w = document.querySelector('.wrapper');
  w.focus({ preventScroll: true });
  w.addEventListener('focusout',
		     e => setTimeout(
			 () => document.activeElement == document.body
			     && w.focus({ preventScroll: true }),
			 0));
</script>
