<address class="adr ir">
  <strong class="title">Maître de Conférences en Informatique</strong><br>
  
  <a href="http://www.uvsq.fr/" class="org">Université de Versailles – Saint-Quentin</a><br/>
  <a href="http://lmv.math.cnrs.fr/">Équipe CRYPTO – Laboratoire LMV</a><br>
  <span class="extended-address">bureau 309 B</span><br />
  <span class="street-address">45 Avenue des États-Unis</span><br/>
  <span class="postal-code">78035</span> 
  <span class="locality">Versailles</span> Cedex,
  <span class="country-name">France</span><br>
  <br>
  <a href="https://www.inria.fr/" class="org">INRIA Saclay</a><br/>
  <a href="https://www.inria.fr/equipes/grace">Équipe-Projet GRACE</a><br>
  <span class="extended-address">bureau 2046 – bât. Alan Turing</span><br />
  <span class="street-address">1 Rue Honoré d'Estienne d'Orves</span><br/>
  <span class="postal-code">91120</span> 
  <span class="locality">Palaiseau</span> Cedex,
  <span class="country-name">France</span>
</address>

<address class="ir">
  <strong>tel:</strong> <span class="tel">+33&nbsp;1&nbsp;39&nbsp;25&nbsp;40&nbsp;35</span><br>
  <strong>fax:</strong> <span class="fax">+33&nbsp;1&nbsp;39&nbsp;25&nbsp;40&nbsp;57</span><br>
  <strong>email:</strong> <span id='mungemail'></span>
  <noscript>name.surname-with-a-dash &lt;at&gt; uvsq.fr</noscript><br>
  <strong>ORCiD:</strong> <a class="orcid" href="https://orcid.org/0000-0002-9321-0773">
    0000-0002-9321-0773</a><br>
  <strong>twitter:</strong> <a class="twitter" href="https://twitter.com/@luca_defeo">
    @luca_defeo</a><br>
  <strong>github:</strong> <a class="github" href="https://github.com/defeo">@defeo</a><br>
  <strong>keybase:</strong> <a class="keybase" href="https://keybase.io/defeo">defeo</a>
  <span id="www"><br>
  <strong>www:</strong> <a class="url" href="/">http://defeo.lu/</a>
  </span>
</address>
