<address class="adr ir">
  <strong class="title">Maître de Conférences en Informatique</strong><br>
  <a href="http://www.prism.uvsq.fr/">Équipe CRYPTO – Laboratoire PRiSM</a><br>
  <a href="http://www.uvsq.fr/" class="org">Université de Versailles – Saint-Quentin</a><br/>
  <span class="street-address">45 Avenue des États-Unis</span><br/>
  <span class="postal-code">78035</span> 
  <span class="locality">Versailles</span> Cedex,
  <span class="country-name">France</span>
</address>

<address class="adr ir">
  <strong>tel:</strong> <span class="tel">+33&nbsp;1&nbsp;39&nbsp;25&nbsp;40&nbsp;17</span><br>
  <strong>fax:</strong> <span class="fax">+33&nbsp;1&nbsp;39&nbsp;25&nbsp;40&nbsp;57</span><br>
  <strong>email:</strong> <span id='mungemail'></span>
  <noscript>name.surname-with-a-dash &lt;at&gt; uvsq.fr</noscript>
  <span id="www"><br>
  <strong>www:</strong> <a class="url" href="/">http://defeo.lu/</a>
  </span>
</address>
