<nav id="blog-nav">
  <!--div id="tags">
    <h4><i class="icon-tags"></i> Popular tags</h4>
  </div>

  <div id="archive">
    <h4><i class="icon-folder-open"></i> Archive</h4>
  </div-->

  <div id="follow">
    <h4><i class="icon-heart"></i> Follow</h4>
    <!-- AddThis Follow BEGIN >
    <div class="addthis_toolbox addthis_16x16_style addthis_vertical_style">
      <a class="addthis_button_twitter_follow" addthis:userid="@luca_defeo"></a>
      <a class="addthis_button_rss_follow" addthis:userid="/blog/feed.xml"></a>
    </div>
    < AddThis Follow END -->
    <p><a href="https://twitter.com/luca_defeo"><img src="/img/twitter.png" style="height:1em"> @luca_defeo</a></p>
  </div>

  <div id="blogroll">
    <h4><i class="icon-pencil"></i> Blogroll</h4>
    <ul>
      <li><a target="_blank" href="http://sagemath.blogspot.fr/">Sagemath Blog</a></li>
      <li><a target="_blank" href="http://ellipticnews.wordpress.com/">Ellipticnews</a></li>
      <li><a target="_blank" href="http://www.madore.org/~david/weblog/">David Madore's blog</a></li>
      <li><a target="_blank" href="http://xkcd.com/">XKCD</a></li>
    </ul>
  </div>

  <div id="links">
    <h4><i class="icon-share-alt"></i> Other links</h4>
    <ul>
      <li><a target="_blank" href="http://sagemath.org/">Sage mathematics software</a></li>
    </ul>
  </div>
</nav>
