{% assign p = include.paper %}
<div>
  <span class="title">{{ p.title }}</span>
  {% if p.doi %}
  <a class="external" target="_blank" href="https://doi.org/{{ p.doi }}"><svg class="icon" alt="go to paper">{% include icon.html id="external" %}</svg></a>
  {% endif %}
</div>

<!-- authors -->
<div>
  <span class="authors">with
    {%- assign aut = p.authors | where_exp: "a","a != 'me'" %}
    {%- for c in aut %}
    {% assign a = site.data.papers.coauthors[c] %}
    {%- if a.url %}{% assign tag = "a" %}{% else %}{% assign tag = "span" %}{% endif %}
    <{{tag}} href="{{ a.url }}">{{ a.name | default: c }}</{{tag}}>
    {%- unless forloop.last %},{% endunless %}
    {%- endfor %}.
  </span>
</div>

<!-- Venue and links -->
<div>
  <span class="venue">{{ p.bibinfo.title.short | default: p.bibinfo.title }}</span>
  {% if p.download %}
  <a class="download" href="{{ p.download }}" title="download"><svg class="icon oa-icon" alt="download">{% include icon.html id="open-access-text" %}</svg></a>
  {% endif %}
  {% if p.video %}
  <a class="video" target="_blank" href="{{ p.video }}" title="video"><svg class="icon video" alt="video">{% include icon.html id="camera" %}</svg></a>
  {% endif %}
</div>
