---
---

@import "../fonts/tex-adventor/tex-adventor.css";

/* Resets */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
	text-decoration: underline;
    }
}

/* Fonts */
html {
    font-family: "TeX-Adventor", sans-serif;
}

/* Parallax background and main layout */
.wrapper {
    perspective: 3px;
    perspective-origin: top;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    
    section {
	position: relative;
	min-height: 100vh;
	scroll-snap-align: start;
    }
    
    .background {
	transform: translateZ(-1px) scale(1.33);
	transform-origin: top;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	z-index: -1;
	min-height: auto;
	height: 60vh;
    }
}

/* Colors */
.celadon {
    color: white;
    fill: #fff;
    background-color: hsl(169,35%,55%);
    a {
	&:link { color: hsl(233,92%,31%); }
	&:visited { color: hsl(292,81%,25%); }
    }
}
.white {
    color: #666;
    fill: #666;
    background-color: white;
    a {
	&:link { color: hsl(233,92%,31%); }
	&:visited { color: hsl(292,81%,25%); }
    }
}
.brick {
    color: white;
    fill: #fff;
    background-color: hsl(0,35%,55%);
    a {
	&:link { color: hsl(233,87%,29%); }
	&:visited { color: hsl(292,44%,20%); }
    }
}

/* Icons */
svg.icon {
    width: 1em;
    height: 1em;
    margin: 0 .25em;
    vertical-align: middle;
    fill: currentcolor;
}
svg.oa-icon {
    width: 3.75em;
    height: 1.5em;
    vertical-align: bottom;
}
a svg.icon {
    opacity: 0.8;
}
a:hover svg.icon {
    opacity: 1;
}

/* Navigation menu */
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 6px 0;
    font-weight: bold;
    
    a {
	display: block;
	flex: 1 0 auto;
	color: inherit;
	text-align: center;	
    }
}

#home a[href="#home"],
#research a[href="#research"],
#teaching a[href="#teaching"] {
    text-decoration: underline;
    pointer-events: none;
    opacity: 0.6;
}

/* Content */
.content {
    margin: 2em auto;
    padding: 0 2px;
    max-width: 1200px;
    h3 { margin-bottom: 1em; }
}

/* #Home */
#home .content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    #card {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	&>div {
	    margin-right: 4em;
	    margin-bottom: 1em;
	}
    }
    
    [itemprop="fn"] {}
    [itemprop="title"] {}
    [itemprop="org"] { font-size: 120%; margin-bottom: 0.5em; }
    [itemprop="adr"] { font-size: 80%; }
    [itemprop="email"], [itemprop="url"] { display: inline-block; height: 1.8em; }
    svg.icon {
	fill: white;
        width: 1.2em;
	height: 1.2em;
    }

    #idpic {
	overflow: hidden;
	img {
	    max-width: 100%;
	    clip-path: circle(90px at 108px 92px);
	    -webkit-mask-image: radial-gradient(rgba(0,0,0,1) 80%, transparent 90%);
	    mask: radial-gradient(rgba(0,0,0,1) 80%, transparent 90%) alpha;
	}
    }
}

/* #Research */
#research .content {
    display: flex;
    flex-flow: row wrap;

    div { flex: 1 1 auto; }
    
    li { list-style-type: none; }

    #publist, #rest > div { margin-bottom: 1.4em; }
    .pub, #students ul { margin-bottom: 0.6em; }
    svg.icon { fill: currentcolor; }
    svg.oa-icon { margin: 0 1em; }
    svg.video { vertical-align: baseline; }
}
