---
layout: blog
share: /blog
---

<div class="row">
  <div class="offset1 span8">

    {% include paginator.html %}

    {% for post in paginator.posts %}
    <section class="post" id="post-{{paginator.page}}-{{forloop.index}}" data-id="{{post.id}}">
      <header>
	<h1>{{post.title}} 
	  <small>{{post.date | date:"%B %d, %Y" | replace_first:" 0"," "}}</small>
	</h1>
      </header>

      {{post.content}}

      <footer>
	<span class="permalink"><a href="{{post.url}}">permalink</a></span>
	<div class="tags"><i class="icon-tag"></i> tags:
	  <ul class="inline">
	    {% for tag in post.tags %}
	    <li><a href="/blog/tag/{{tag}}">{{tag}}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	<span class="comments"><i class="icon-comment"></i> 
	  <a href="{{post/url}}">see comments</a>
	</span>
	<div class="addthis_toolbox addthis_default_style"
	     addthis:url="http:{{site.base}}{{post.url}}"
	     addthis:title="{{post.title}}">
	  {% include addthis-buttons.html %}
	  <a class="addthis_counter addthis_bubble_style"></a>
	</div>
      </footer>
    </section>
    {% endfor %}
    
    {% include paginator.html %}

  </div>

  <div class="span2">
    
  </div>
</div>
