---
layout: main
title: Luca De Feo's Curriculum Vitæ
excerpt: Luca De Feo is Maître de Conférences in Computer Science at Université de Versailles.
date: 2014-05-19
---

<div class="container cv">
  <strong id="print-link"><a href="javascript:print()"><i class="icon-print"></i>
      <span data-toggle="hotkey" href="javascript:print()" title="Print page">P</span>rint</a></strong>

  <h1>Luca De Feo's <em>curriculum vitæ</em><br/>
    <small>last update: {{ page.date |  date:"%B %d, %Y" | replace_first:" 0"," " }}</small>
  </h1>

  <section id="address">
    <address id="status" class="adr">
      born <time class="bday">May 26, 1983</time><br>
      <strong>sex:</strong> male<br>
      <strong>citizenship:</strong> Italian<br>
    </address>

    {% include address_card.html %}
  </section>

  {{ content }}
</div>
