---
title: Luca De Feo
layout: main
---

<div class="row">

  <div class="offset1 span9">
    <section class="hero-unit">
      <div class="row-fluid">
	<div class="span6 text-center">
	  <div class="page-header">
	    <h2>Luca De Feo</h2>
	  </div>

	  <address class="vcard">
	    <strong>Maître de Conférences – Équipe CRYPTO</strong><br>
	    <a href="http://www.prism.uvsq.fr/">Laboratoire PRiSM</a><br>
	    <a href="http://www.uvsq.fr/">Université de Versailles – Saint-Quentin</a><br/>
	    45 Avenue des États-Unis<br/>
	    78035 Versailles Cedex, France
	  </address>
	  
	  <address>
	    <strong>Tel:</strong> +33 1 39 25 40 17<br>
	    <strong>Fax:</strong> +33 1 39 25 40 57<br>
	    <strong>Email:</strong> <span id='mungemail'></span>
	    <noscript>name.surname-with-a-dash &lt;at&gt; uvsq.fr</noscript>
	  </address>
	</div>
	
	<div class="span6 text-center">
	  <img src="img/luca-drink.jpg" class="img-rounded">
	</div>
      </div>
    </section><!-- /home -->

    <section id="news">
      <div class="page-header">
	<h1>News</h1>
      </div>
    </section><!-- news -->

    <section id="research">
      <div class="page-header">
	<h1>Research</h1>
      </div>
      
      <h3>Research interests</h3>
      {% capture interests_block %}{% include interests.md %}{% endcapture %}
      {{ interests_block | markdownify }}

      {% capture papers_block %}{% include papers.md %}{% endcapture %}
      {{ papers_block | markdownify }}
    </section><!-- research -->

    <section id="teaching">
      <div class="page-header">
	<h1>Teaching</h1>
      </div>
      {% capture teaching_block %}{% include teaching.md %}{% endcapture %}
      {{ teaching_block | markdownify }}
    </section><!-- teaching -->

    <section id="software">
      <div class="page-header">
	<h1>Software</h1>
      </div>
      {% capture software_block %}{% include software.md %}{% endcapture %}
      {{ software_block | markdownify }}
    </section><!-- software -->

    <section id="talks">
      <div class="page-header">
	<h1>Selected Talks</h1>
      </div>
      {% capture talks_block %}{% include talks.md %}{% endcapture %}
      {{ talks_block | markdownify }}
    </section><!-- talks -->

  </div>

  <div class="span1 side-nav">
    <ul class="nav nav-tabs nav-stacked affix-top hidden-phone" data-spy="affix">
      <li class="active"><a href="#"><i class="icon-arrow-up"></i> Top</a></li>
      <li><a href="#news"><i class="icon-chevron-left"></i> News</a></li>
      <li><a href="#research"><i class="icon-chevron-left"></i> Research</a></li>
      <li><a href="#teaching"><i class="icon-chevron-left"></i> Teaching</a></li>
      <li><a href="#software"><i class="icon-chevron-left"></i> Software</a></li>
      <li><a href="#talks"><i class="icon-chevron-left"></i> Talks</a></li>
    </ul>
  </div>

</div>
