---
layout: bp
---

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!--a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a-->
      <a class="brand" href="#">Luca De Feo</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if page.url == "/" or page.url == "/index.html" %} class="active" {% endif %}><a href="/">Home</a></li>
	  <li {% if page.url contains "/blog"  %} class="active" {% endif %}><a href="/blog">Blog</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Teaching</a></li>
          <li><a href="#">Software</a></li>
          <li><a href="#">CV</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{{ content }}
