---
layout: blog
is_post: true
---
<div class="row">
  <div class="offset1 span8">
    <article class="post" data-id="{{post.id}}">
      <h1>{{page.title}} 
	<small>{{page.date | date:"%B %d, %Y" | replace_first:" 0"," "}}</small>
      </h1>

      {{content}}

      <footer>
	<div class="tags"><i class="icon-tags"></i> tags:
	  <ul class="inline">
	    {% for tag in page.tags %}
	    <li><a href="/blog/tag/{{tag}}">{{tag}}</a></li>
	    {% endfor %}
	  </ul>
	</div>
      </footer>
    </article>
  </div>

  <div class="span2">
    
    {% include blog-nav.html %}

  </div>
</div>
